* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bg: #f8f4f1;
    --text: #130f0f;
    --card-bg: #ffffff;
    --button-bg: #686a6c;
    --button-hover: #39586f;
    --desc-color: #555;
}

[data-theme="dark"] {
    --bg: #1a1b21;
    --text: #f5f5f5;
    --card-bg: #2c2c2c;
    --button-bg: #bbbec4;
    --button-hover1: #848181;
    --button-hover: #245bb9;
    --desc-color: #ccc;
}

body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: var(--text);
}

.container {
    background-color: var(--card-bg);
    color: var(--text);
    margin: 0 auto;
    text-align: center;
    width: 321px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.profile-image {
    width: 318px;
    height: 318px;
   border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

h1 {
    font-size: 27px;
    margin: 3px 0;
}

.p {
    font-size: 15px;
   color: rgb(243, 191, 153)
}

.socials {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.btn,
.btn2 {
   background-color: var(--button-bg);
    border: none;
    border-radius: 5px;
    color: var(--card-bg);
    cursor: pointer;
    font-size: 15px;
    margin: 5px 13px;
    padding: 8px 25px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 5px;
}

.btn2 {
    background-color: #4083f8;
    color: white;
}

.btn img,
.btn2 img {
    width: 19px;
    height: 20px;
}

.btn2:hover {
    background-color: var(--button-hover);
    font-size: 16px;
}

.btn:hover {
    background-color: var(--button-hover1);
    font-size: 16px;
}

.about {
    text-align: left;
    padding: 15px;
}

h2 {
    font-size: 1.8rem;
    margin: 10px 0;
    padding: 9px 0;
}

.about p {
    color: var(--desc-color);
    font-size: .85rem;
    line-height: 21px;
}

.footer {
    align-items: center;
    background-color: #4d4d4e;
    justify-content: center;
    padding: 10px 0;
    font-size: .75rem;
}

.socials-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 0;
}

.socials-footer img {
    width: 20px;
    height: 20px;
    cursor: pointer;
} 

.socials-footer img:hover {
    transform: scale(1.5);
}

/* Floating toggle button */
.toggle-theme {
    position: fixed;
    bottom: 5%;
    right: 38vw; 
    background-color: var(--button-bg);
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    transition: background-color 0.3s;
}

.toggle-theme:hover {
    background-color: var(--button-hover);
}
  

/* Media Queries */

@media (max-width: 478px) {
    .container {
        width: 100%;
    }

    .profile-image {
        width: auto;
        height: auto;
    }

    h1 {
        font-size: 28px;
    }

    .p {
        font-size: 20px;
    }

    .btn,
    .btn2 {
        padding: 15px 25px;
        font-size: 18px;
    }

    .about p {

        font-size: .95rem;
        line-height: 23px;      
    }

    .toggle-theme {
        right: 5%;
        bottom: 5%;
        width: 60px;
        height: 60px;
        font-size: 18px;
    }

}